.input-block {
    position: relative;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block input {
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-border-input);
    outline: 0;
    padding: 0 1rem;
    color: var(--color-text);
    font: 1.6rem Hind Siliguri;
}

input[type='radio'] {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 0;
}

.input-block-invalid {
    border-bottom: 1px solid var(--color-border-input-invalid) !important;
    color: var(--color-text-input-invalid) !important;
}

.input-block-valid {
    border-bottom: 1px solid var(--color-border-input-valid) !important;
    color: var(--color-text-input-valid) !important;
}

.input-block input:disabled {
    opacity: 1;
}

.input-block-valid::-moz-placeholder {
    color: var(--color-text-input-valid) !important;
}

.input-block-invalid::-moz-placeholder {
    color: var(--color-text-input-invalid) !important;
}

.input-block-valid::placeholder {
    color: var(--color-text-input-valid) !important;
}

.input-block-invalid::placeholder {
    color: var(--color-text-input-invalid) !important;
}
