#register-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-page {
    margin: 0 2rem;
    width: 85%;
}

.avatar-icon {
    display: grid;
    grid-template-columns: 90% 10%;
    cursor: pointer;
}

.avatar-icon input {
    width: 95%;
}

.avatar-icon img {
    height: 5rem;
    position: relative;
    z-index: 10;
}

.avatar-image {
    height: 51.53px;
    border-radius: 50%;
    cursor: pointer;
} 

.avatar-dropdown {
    position: relative;
    background-color: var(--color-backgroud);
    margin-top: -3.5rem;
    padding: 1rem;
 
    border-radius: 1.6rem;
    border: 1px solid var(--color-border-input);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.82);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.82);
    z-index: 1;
}

.avatar-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 5%;
    padding: 1.6rem;
}

.avatar-dropdown img {
    height: 8rem;
    cursor: pointer;
    display: block;

    user-select: none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.avatar-dropdown img:active {
    border: 3px solid #F44EAA;
    border-radius: 50%;
}

.term-confirmation {
    display: flex;
    align-items: center;
}

.term-confirmation p {
    margin-top: 1.6rem;
    margin-left: 1rem;
}

.term-confirmation a {
    color: var(--color-text-link);
    text-decoration: none;
}

.text-information p {
    font-size: 1.5rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

@media (min-width:700px) {
    .form-page {
        width: 50%;
    }

    .avatar-icon img {
        margin-left: 0;
    }
}

@media (min-width:900px) {
    .avatar-grid {
        grid-gap: 5% 15%;
    }
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (display:flow-root) { 
        .term-confirmation {
            margin-bottom: 1rem;
        }
    } 
}