.page-home {
    height: 100vh;
    width: 100vw;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.page-container:nth-child(1) {
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150rem;
  }

.page-container:nth-child(2) {
/* background: #dfffd9; */
background: linear-gradient(#FE6E6F, #FF50AA, #7937AD);
}

.overlays-root {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.model-section {
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
}

#page-home-content .model-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#page-home-content .model-section .logo-container {
    margin-top: 22rem;
}

#page-home-content .model-section .logo-container img {
    height: 10rem;
}

#page-home-content .model-section .button-container {
    padding-bottom: 9rem;
}

#page-home-informations .model-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-home-informations .model-section .page-framer {
    width: 80vw !important;
    height: 80vh !important;
    margin-top: -4rem;

    cursor: ew-resize;
}

#page-home-informations .model-section .page-framer [data-framer-component-type="Frame"] {
    border-radius: 2.5rem 0 2.5rem 0;
    background-color: rgba(var(--color-backgroud-rgb), 0.8) !important;

    display: flex !important;
    flex-direction: column;
}

#page-home-informations .model-section .page-framer .logo-container {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}

#page-home-informations .model-section .page-framer .logo-container img {
    height: 6rem;
}

#page-home-informations .model-section .page-framer h1 {
    text-align: left;
    margin-bottom: 1.6rem;
    padding: 0 1rem;
    font-size: 2.6rem;
    font-weight: 600;
}

#page-home-informations .model-section .page-framer .text-container {
    text-align: left;
    padding: 0 3rem;
    font-size: 1.4rem;
    font-weight: normal;
    height: 20rem;
    overflow: auto;
}

#page-home-informations .model-section .page-framer .text-container p {
    white-space: pre-line;
}

#page-home-informations .model-section .page-framer footer {
    margin-top: -4rem;
}

#page-home-informations .model-section .page-framer .indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    margin: 0;
    left: 0;
    right: 0;
}

#page-home-informations .model-section .page-framer .indicators ul {
    border-radius: 0px !important;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#page-home-informations .model-section .page-framer .indicators ul li,
#page-home-informations .model-section .page-framer .indicators ul li.active {
    padding: 0.2rem 1.6rem;
    background: var(--color-button-background-tertiary);
    margin-right: 1rem;
    border-radius: 9px;
}

#page-home-informations .model-section .page-framer .indicators ul li:last-child {
    margin-right: 0;
}

#page-home-informations .model-section .page-framer .indicators ul li.active {
    background: var(--select-border);
}

@media (min-width:600px) {
    .page-container:nth-child(1) {
        background-size: auto;
    }

    #page-home-content .model-section .button-container {
        padding-bottom: 2rem;
    }

    
    #page-home-informations .model-section .page-framer .text-container {
        font-size: 1.6rem;
    }
}

@media (min-width:1000px) {
    #page-home-informations .model-section .page-framer {
        width: 50vw !important;
    }
}