.post-container {
    margin: 2.4rem 0;
    margin-bottom: 2rem;
}

.post-container > header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post-container header > span {
    color: var(--color-text);
    text-decoration: underline;
    font-weight: 500;
}

.post-container > header img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    border-radius: 50%;
}

.post-container .post-user {
    background: var(--color-post-backgroud);
    border-radius: 3rem;
    overflow: hidden;
}

.post-container .post-user header {
    display: flex;
    flex-direction: column;
}

.post-container .post-user header > img {
    width: 100%;
    height: 100%;
}

.post-container .post-user header .post-data {
    margin-top: -3.2rem;
    margin-left: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-user header .post-data .post-buttons {
    display: flex;
    align-items: center;
}

.post-user header .post-data .like-button > img {
    margin-right: 0.8rem;
}

.dropbtn {
    width: 51.53px;
    height: 51.53px;
    background: var(--color-button-background-secundary);
    margin-top: -1rem;
    margin-right: 0.8rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-image {
    height: 4rem;
}

.post-user header .post-actions {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 4.5rem;
    margin-right: 1rem;
}

.post-user header .post-actions div {
    background-color: var(--color-backgroud-post-actions);
    margin: 0.5rem 0;
    border-radius: 1.6rem;
    padding: 0 0.8rem;
    color: var(--color-text);
    font-weight: 500;
    font: Hind Siliguri;
    font-size: 1.2rem;
}

.post-user header .post-actions > div {
    margin-right: 1.2rem;
}

.post-user header .post-evaluation,
.post-user header .post-comments {
    display: flex;
    align-items: center;
}

.post-description {
    padding-top: 0;
    font-size: 1.5rem;
    line-height: 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-description p {
    margin-top: 1.6rem !important;
    white-space: pre-line;
    text-align: start;
}

.post-description a {
    color: var(--color-text-link);
    text-decoration: none;
}

.post-description div {
    background: var(--color-button-posts);
    margin-top: 1rem;
    width: 4rem;
    height: 2rem;
    border-radius: 3rem 3rem 0 0;
    text-align: center;
    padding: 0.2rem;
}
  
.dropdown-content {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    
    background-color: #E5E5E5;

    width: 19rem;
    border-radius: 2rem;
    margin-top: -4rem;
    padding: 0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content::after {
    content: "";
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 8px solid #E5E5E5;
    top: 3.1rem;
    position: absolute;
    left: 8.5%;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown-content img {
    padding: 0.2rem 0.3rem;
    height: 2.5rem;
}

.dropdown-content img:hover {
    height: 2.8rem;
}
  
.like-button:hover .dropdown-content {
    visibility: visible;
}